@tailwind base;
@tailwind components;
@tailwind utilities;
#first{
    background: linear-gradient(to right, #ffffcc 0%, #ccffff 100%);
}
#a2:hover{
    transform: scale(1.009);
    #a1{
        display: block;
    }
}
#a3:hover{
    transform: scale(1.007);
    #a4{
        display: block;
    }
}